<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Рассылки</h5>
    <nav class="ms-5">
        {% if user.is_authenticated %}
            <a class="p-2 btn btn-outline-primary" href="{% url 'sending_mail:index' %}">Главная</a>
            <a class="p-2 btn btn-outline-primary" href="{% url 'sending_mail:messages_list' %}">Сообщения</a>
            <a class="p-2 btn btn-outline-primary" href="{% url 'sending_mail:recipients_list' %}">Получатели</a>
            <a class="p-2 btn btn-outline-primary" href="{% url 'sending_mail:mailing_list' %}">Рассылки</a>
            <a class="p-2 btn btn-outline-primary" href="{% url 'sending_mail:mailing_stat' %}">Статистика</a>
            <a class="p-2 btn btn-outline-primary" href="{% url 'users:profile' user.pk %}">Профиль пользователя</a>
            <a class="p-2 btn btn-outline-primary" href="/users/logout/">Выйти</a>
            {{ user.email }}
        {% else %}
            <a class="p-2 btn btn-outline-primary" href="/users/login/">Главная</a>
            <a class="p-2 btn btn-outline-primary" href="/users/login/">Сообщения</a>
            <a class="p-2 btn btn-outline-primary" href="/users/login/">Получатели</a>
            <a class="p-2 btn btn-outline-primary" href="/users/login/">Рассылки</a>
            <a class="p-2 btn btn-outline-primary" href="/users/login/">Статистика</a>
            <a class="p-2 btn btn-outline-primary" href="/users/login/">Войти</a>
            <a class="p-2 btn btn-outline-primary" href="/users/register/">Зарегистрироваться</a>
        {% endif %}
    </nav>
</div>